<!DOCTYPE html>
<html>
    <style media="screen">
        button{
            margin-right: auto;
            background-color: green;
            color:white;
            border-radius: 10px;
            font-size:20px;
        }
        
        button:hover{
            background-color: transparent;
            color: rgb(44, 41, 41);
        }
        div{
            position: relative;
        }
        .home{
            position:absolute;
            right:1%;
            bottom:4%
        }
    </style>


<body>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3788.0372725517386!2d72.96223904961994!3d18.299903587476702!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be8446defa9a063%3A0xae1f9c6ab9d9aefc!2sMurud-Janjira%20Fort!5e0!3m2!1sen!2sin!4v1601212194799!5m2!1sen!2sin" width="1400" height="600" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
<div>
    <form action="{% url 'ferryin' %}">
        <button type="submit">
            <  CHECK FERRY<br>TIMINGS<br>
        </button>
    </form>
</div>
<form action="{% url 'index' %}" class="home">
    <button type="submit" text-align="right">
        < BACK TO <br>HOME PAGE<br>
    </button>
</form>


</body>
</html>