<!DOCTYPE html>
<html>
    <style media="screen">
        button{
            margin-right: auto;
            background-color: green;
            color:white;
            border-radius: 10px;
            font-size:20px;
        }
        
        button:hover{
            background-color: transparent;
            color: rgb(44, 41, 41);
        }
    </style>


<body>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7615.324182452148!2d73.20363697458735!3d17.379985502331984!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be9f6f2fd262381%3A0xb8e59946b79df518!2sVelneshwar%20Beach!5e0!3m2!1sen!2sin!4v1600244839696!5m2!1sen!2sin"  width="1400" height="600" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    <form action="{% url 'index' %}">
        <button type="submit">
            < BACK TO <br>HOME PAGE<br>
        </button>
    </form>
    </html>